<div class="bx-home">
<div class="column">
    <div class="card">
  
<div class="container">
    <h2>{{Sname}}</h2>
    <p class="title">Training and Absorption Program</p>
    <p>Some text that describes me lorem ipsum ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum consectetur quod voluptates excepturi dolores fuga maxime non veniam corporis, saepe voluptatem exercitationem minima nihil assumenda. Est doloremque accusantium eum molestiae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias consequatur corporis vel! Tenetur blanditiis ipsum asperiores minima adipisci hic facere dolor ratione quae voluptatibus eveniet, praesentium debitis eligendi nemo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur illum iure ad tenetur quo quibusdam voluptate fugiat qui explicabo enim alias, nam dignissimos at sapiente necessitatibus? Totam quidem iusto ad?</p>
    <p><button class="button">Join Now</button></p>
  </div>
  </div>
  </div>
  <img src="assets/img2.png" alt="">
</div>

