.bx-error{
    text-align: center;
}
h1{

font-size: 100px;
color: rgb(19, 48, 142)
}
.bx-p{
    font-size: 30px;
}
.bx-p1{
   
    margin-left: 450px;
    margin-right: 450px;
}
button{
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
    border-radius: 8px 8px 8px 8px;
    border: none;
    margin-bottom: 150px;
}