<div class="bx-home" >
    <div class="bx-fhalf">
    <h2>The more that you read, the more things you will know, the more that you learn, the more places you'll go.” </h2>
    <h5>A simple but powerful reminder of the positive domino effect a good education can have on many aspects of a person's life and outlook.”</h5>
    <button style="background-color: navy;color: white;width: 130px;height: 35px;">Explore Now</button>
</div>
<div class="bx-shalf">
    <img src="assets/img1.jpg" alt="">
    </div>
</div>
<div>
<h2 style="text-align:center">Major Courses</h2>
  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>Front End Development</h2>
          <p class="title">HTML, CSS, Bootstrap, Angular</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane</p>
          <p><button class="button">Join Now</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
      
        <div class="container">
          <h2>Back End Development </h2>
          <p class="title">Python</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike</p>
          <p><button class="button">Join Now</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
    
        <div class="container">
          <h2>Data Engineering</h2>
          <p class="title">Data Engineering</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john</p>
          <p><button class="button">Join Now</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

